.app-container {
  max-width: 650px;
  margin: 40px auto;
  padding: 20px;
  background: #f9fafb;
  border-radius: 12px;
}

.app-title {
  text-align: center;
  margin-bottom: 20px;
}

.add-task {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.add-task input {
  flex: 1;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
}

.add-task button {
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

.task-header {
  display: grid;
  grid-template-columns: 50px 1fr 60px;
  padding: 10px 16px;
  font-weight: 600;
  border-bottom: 2px solid #e5e7eb;
  margin-bottom: 8px;
}
.auth-container {
  max-width: 350px;
  margin: 80px auto;
  padding: 25px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.auth-container input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
}

.auth-container button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

.logout-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
