name: CI & Deploy Full Stack

permissions:
  id-token: write
  contents: read

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      # ---------- FRONTEND ----------
      - name: Build frontend
        working-directory: frontend
        run: |
          npm install
          npm run build

      # ---------- AWS S3 ----------
      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Deploy frontend to S3
        run: |
          aws s3 sync frontend/dist s3://${{ secrets.S3_BUCKET }} --delete

    deploy-backend:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Deploy backend to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.E2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd task_manager/backend
            git pull origin main
            npm install
            npx prisma generate
            npx prisma migrate deploy
            npm run build
            pm2 restart backend || pm2 start dist/server.js --name backend
